/* VARIABLES */

:root {
  --body-bg-color: #22212C;
  --text-color: #837E9F;
  --bg-cards: #302F3D;
  --bg-techs: #CB92B1;
  // FONTS
  --font-family: 'Merriweather', sans-serif;
  --700: 700;
  --300: 300;
  --400: 400;
  --font-title: 20px;
  --font-small: 10px;
  --font-normal: 13px;
}

